/*CSS file from davidguerreiro.com . Written by David R. Guerreiro*/

/*GENERAL--------------------------------------------------------------------------------------------------*/
*{
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

.content{
	/*max width*/
	max-width: 1100px;
	margin: 0 auto;
}
/*---------------------------------------------------------------------------------------------------------*/
/*HEADER---------------------------------------------------------------------------------------------------*/

header{
	text-align: center;
	background-color: #241858;
	padding-top: 25px;
	padding-bottom: 25px;
}

header h1{
	/*main title*/
	font-family: 'Francois One', sans-serif;
	font-size: 4em;
	color: white;
}

header h2{
	/*header subtitle*/
	font-size: 2em;
	color: white;
}

nav ul li{
	float: left;

}


/*---------------------------------------------------------------------------------------------------------*/