/*CSS file from davidguerreiro.com . Written by David R. Guerreiro*/

/*GENERAL--------------------------------------------------------------------------------------------------*/
*{
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

.content{
	/*max width*/
	max-width: 1100px;
	margin: 0 auto;
}

/*---------------------------------------------------------------------------------------------------------*/
/*HEADER---------------------------------------------------------------------------------------------------*/

header{
	text-align: center;
	background-color: #241858;
	padding-top: 25px;
	padding-bottom: 25px;
}

header h1{
	/*main title*/
	font-family: 'Francois One', sans-serif;
	font-size: 4em;
	color: white;
}

header h2{
	/*header subtitle*/
	font-size: 2em;
	color: white;
}

nav{
	width: 100%;
	display: inline-block;
	background-color: #5F5293;
}

nav ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

nav ul a{
	float: left;
	display: block;
	width: 50%;

	text-decoration: none; 
	font-size: 1em; 
	display: inline-block; 
	color: white; 
	background-color: transparent; 
	font-weight: bold; 
	-moz-transition: all 1s; 
	-webkit-transition: all 1s;
}


nav a:visited{
	color: white;
}
nav a:hover{
	color: #271A5C; 
}