
/*General*/

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

h1, h2, h3, h4, h5, h6{
	line-height: 1;
}

ul{
	margin: 0;
	padding: 0;
}

p{
	margin: 0;
}

section:nth-child(2n){
	background-color: #D8D8D8; 
}

.left{
	margin-left: 1em;
}

.main{
	display: block;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
}

body{
	background-color: #A9BCF5;
}

/*Header*/

.menu_social_nav{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
}

.menu_social{
	clear: both;
	overflow: hidden;
	background-color: #050101;
}

.menu_social li{
	float: right;
	padding: 0.5em;
}

.menu_social i{
	color: white;
	font-size: 1.1em;
}

.cv{
	float: left !important;
}

.cv i, .menu_main i{
	padding-right: 0.5em;
}

.title_content{
	margin-top: 35px;
	background-color: #084B8A;
}

h1{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: white;
	padding: 0.5em 0;
}

.h1_subtitle{
	display: block;
	font-size: 0.6em;
	padding-top: 0.5em;
}

.menu_main{
	clear: both;
	overflow: hidden;
	background-color: #2E2E2E;
	list-style-type: none;
}

.menu_main li{
	float: left;
	width: 50%;
}

/*body*/

.paragraph{
	display: block;
	text-align: left;
	width: 90%;
	max-width: 420px;
	padding: 1.5em 0.5em 1.5em 1em;
	margin-right: auto;
	margin-left: auto;
}

.introducction_text{
	background-color: #D8D8D8;
}

.skill_title{
	position: relative;
	margin: 0;
	padding: 0.2em;
	font-size: 3em;
	color: white;
}

.html_title{
	background-color: #FACC2E;
}

.css_title{
	background-color: #2E64FE;
}

.js_title{
	background-color: #DBA901;
}

.php_title{
	background-color: #4F5B93;
}

.sql_title{
	background-color: #9AFE2E;
}

.wp_title{
	background-color: #0431B4;	
}

.extra_title{
	background-color: #04B486;
}

.skill_title_icon{
	display: none !important;
}



progress{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	width: 100%;
	height: 45px;
}

progress::-webkit-progress-value{
	background-image:
    -webkit-linear-gradient(
      135deg, 
      transparent 33%, 
      rgba(0, 0, 0, 0.1) 33%, 
      rgba(0, 0, 0, 0.1) 66%, 
      transparent 66% 
    ),
    -webkit-linear-gradient(
      top, 
      rgba(255, 255, 255, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    -webkit-linear-gradient(
      left, 
      #09c, 
      #f44
    );
}

progress::-webkit-progress-value::before {
  font-size: 2em;
  color: white;
  padding-left: 0.5em;
}

.html_bar::-webkit-progress-value::before{
	content: '90/100';
}

.css_bar::-webkit-progress-value::before{
	content: '75/100';
}

.js_bar::-webkit-progress-value::before{
	content: '55/100';
}

.php_bar::-webkit-progress-value::before{
	content: '90/100';
}

.wp_bar::-webkit-progress-value::before{
	content: '85/100';
}

.sql_bar::-webkit-progress-value::before{
	content: '70/100';
}

progress::-webkit-progress-bar{
	 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-moz-progress-bar{
	background-image:
    -moz-linear-gradient(
      135deg, 
      transparent 33%, 
      rgba(0, 0, 0, 0.1) 33%, 
      rgba(0, 0, 0, 0.1) 66%, 
      transparent 66% 
    ),
    -moz-linear-gradient(
      top, 
      rgba(255, 255, 255, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    -moz-linear-gradient(	
      left, 
      #09c, 
      #f44
    );

      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.tech_points{
	padding: 1em 0 1em 1.5em;
}

.tech_points li{
	list-style-type: circle;
	padding: 1em 0 1em 0.3em;

}

.work_title{
	font-size: 2em;
}

.work_wrapper{
	/*padding: 2em 0;*/
}

.work_img{
	display: block;
	width: 100%;
	height: auto;
}

.subimg_p{
	color: #1C1C1C;
	font-size: 0.8em;
	margin-left: 0.5em;
	margin-top: -0.6em;
}

.work_details_text{
	margin-left: 0;
}

/*footer*/

footer{
	background-color: #2E2E2E;
	color: white;
	padding-top: 1em;
}

footer p{
	padding-bottom: 1em;
}

.footer_icon{
	padding: 0 0.3em 0 0.3em;
}


/*links*/

.social_link, .menu_link{
	text-decoration: none;
	color: white;
}

.fa-twitter, .fa-github{
	-moz-transition: color 0.5s ease;
	-webkit-transition: color 0.5s ease;
}

.fa-twitter:hover{
	color: #21B1FA;
}

.fa-github:hover{
	color: #A32FBA;
}

.title_content{
	padding: 1.5em;
	font-size: 0.9em;
}

.menu_link{
	display: block;
	padding: 0.5em;
	text-align: center;
	-moz-transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
}

.menu_link:hover{
	background-color: #424242;

}

.inline_link, .footer_link{
	text-decoration: none;
	color: #7401DF;
	-moz-transition: color 0.5s ease;
	-webkit-transition: color 0.5s ease;
}

.footer_link{
	color: #A901DB;
}

.inline_link:hover, .footer_link:hover{
	color: #D358F7;
}


.work_link{
	display: block;
	color: white;
	background-color: #5882FA;
	padding: 1em 1em 1em 2em;
	text-align: left;
	text-decoration: none;
	border-top: 1px solid #A9BCF5;
	-moz-transition: padding-left 0.2s ease;
	-webkit-transition: padding-left 0.2s ease;
}

.work_link:hover{
	padding-left: 2.4em;
}

.work_inline_link{
	color: #9A2EFE;
	text-decoration: none;
	-moz-transition: color 0.5s ease;
	-webkit-transition: color 0.5s ease;
}

.work_inline_link:hover{
	color: #4B088A;
}

/*MEDIA QUERIES*/

@media all and (min-width: 440px){

	h1{
		font-size: 2.4em;
	}

	.skill_title{
		font-size: 3.5em;
	}

	.main{
		max-width: 960px;
	}

	.menu_main_nav{
		background-color: #2E2E2E;
	}

	.menu_main{
		max-width: 960px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media all and (min-width: 550px){

	.work_wrapper{
		clear: both;
		overflow: hidden;
	}


	.work_img, .work_details_wrapper{
		width: 480px;
		margin: 0 auto;
	}

}

@media all and (min-width: 960px){

	h1{
		font-size: 3.2em;
	}

	.paragraph{
		margin-left: 1em;
	}

	.skill_title_icon{
		display: inline !important;
	}

	.html5_icon{
		padding-left: 720px;
	}

	.css3_icon{
		padding-left: 775px;
	}

	.wp_icon{
		padding-left: 590px;
	}

	.js_icon{
		padding-left: 620px;
	}

	.php_icon{
		padding-left: 765px;
	}

	.sql_icon{
		padding-left: 780px;
	}

	.extra_icon{
		padding-left: 575px;
	}

	.work_wrapper{
		background-color: white;
	}

	.work_img, .work_details_wrapper{
		float: left;
		height: 300px;
	}

	.work_details_wrapper{
		position: relative;
	}

	.work_links_wrapper{
		margin-top: 120px;
	}

	.work_title{
		padding-top: 0.35em;
		padding-bottom: 0.35em;
	}


}